<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="console"/>
  </root>
  
  <logger name="org.camunda" level="info" />
  <logger name="org.camunda.bpm.extension.mail" level="debug" />
  
  <logger name="com.icegreen.greenmail" level="debug" />
  
</configuration>
